{% extends 'base.html' %}
{% block content %}

<h3 class="text-light">Create a post</h3>

<form action="#" method="POST">
    <div class="mb-3">
        <input type="text" class="form-control" name="title" placeholder="Post title">
    </div>
    <div class="mb-3">
        <div class="form-floating">
            <textarea class="form-control" name="content" id="content"></textarea>
            <label for="content">Content</label>
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Post</button>
</form>


{% endblock content %}